USE [master]
GO
/****** Object:  Database [foy3]    Script Date: 3/24/2025 7:30:15 PM ******/
CREATE DATABASE [foy3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'foy3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\foy3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'foy3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\foy3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [foy3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [foy3]
GO
/****** Object:  Table [dbo].[birimler]    Script Date: 3/24/2025 7:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[birimler](
	[birim_id] [int] NOT NULL,
	[birim_ad] [char](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[birim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[calisanlar]    Script Date: 3/24/2025 7:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calisanlar](
	[calisan_id] [int] NOT NULL,
	[ad] [char](25) NOT NULL,
	[soyad] [char](25) NOT NULL,
	[maas] [char](25) NOT NULL,
	[katilmaTarihi] [datetime] NOT NULL,
	[calisan_birim_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[calisan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ikramiye]    Script Date: 3/24/2025 7:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ikramiye](
	[ikramiye_calisan_id] [int] NOT NULL,
	[ikramiye_ucret] [int] NOT NULL,
	[ikramiye_tarih] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unvan]    Script Date: 3/24/2025 7:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unvan](
	[unvan_calisan_id] [int] NOT NULL,
	[unvan_calisan] [char](25) NOT NULL,
	[unvan_tarih] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[calisanlar]  WITH CHECK ADD FOREIGN KEY([calisan_birim_id])
REFERENCES [dbo].[birimler] ([birim_id])
GO
ALTER TABLE [dbo].[ikramiye]  WITH CHECK ADD FOREIGN KEY([ikramiye_calisan_id])
REFERENCES [dbo].[calisanlar] ([calisan_id])
GO
ALTER TABLE [dbo].[unvan]  WITH CHECK ADD FOREIGN KEY([unvan_calisan_id])
REFERENCES [dbo].[calisanlar] ([calisan_id])
GO
USE [master]
GO
